body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0056b3;
}

h1 {
    color: #333;
}

@media screen and (max-width: 1100px) {
    .container {
        width: 100%;
        border-radius: 20px;
        text-align: center;
        color: #333;
        background-color: #fff;
    }

    .timer {
        flex-direction: column;
        gap: 5px;
    }

    input[type="text"] {
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 5px;
        width: 80%;
        outline: none;
    }

    input[type="time"] {
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 5px;
        width: 80%;
        outline: none;
        text-align: center;
    }

    input[type="checkbox"] {
        width: 20px;
        height: 20px;
    }

    .notification-container {
        position: fixed;
        top: 0px;
        flex-direction: column;
        width: 100%;
        gap: 10px;
    }

    .notification {
        top: 10px;
        right: 10px;
        padding: 10px;
        margin: 5px 10px;
        background-color: #f0f0f0;
        border-radius: 4px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
        opacity: 1;
        transition: opacity 0.5s ease-in-out;
    }

    .remove {
        margin: 5px 5px;
    }

    button {
        padding: 5px 10px;
        margin: 5px 5px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        font-size: 18px;
        cursor: pointer;
        align-self: baseline;
    }

    button:checked {
        background-color: #259b3f;
    }

    #farm {
        display: none;
    }

    #clouds {
        display: none;
    }

    .days {
        margin-top: 20px;
        width: 80%;
        margin-left: 10%;
    }
}

@media screen and (min-width: 1100px) {
    .container {
        width: 45%;
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        text-align: center;
    }

    .timer {
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
    }

    label {
        font-weight: bold;
        font-size: 18px;
    }

    input[type="text"] {
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 5px;
        width: 80%;
        outline: none;
    }

    input[type="time"] {
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 5px;
        width: 80%;
        outline: none;
        text-align: center;
    }

    input[type="checkbox"] {
        margin-right: 10px;
        width: 20px;
        height: 20px;
    }

    .notification-container {
        position: fixed;
        top: 10px;
        right: 10px;
        display: flex;
        flex-direction: column;
        width: 25%;
        height: 500px;
        gap: 10px;
    }

    .notification {
        top: 10px;
        right: 10px;
        padding: 10px;
        background-color: #f0f0f0;
        border-radius: 4px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
        opacity: 1;
        transition: opacity 0.5s ease-in-out;
    }

    button {
        padding: 10px 20px;
        margin: 5px 5px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        font-size: 18px;
        cursor: pointer;
        align-self: baseline;
    }

    button:hover {
        background-color: #0056b3;
    }

    .days {
        margin-top: 20px;
        width: 50%;
        margin-left: 25%;
    }
}

input[type="number"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 80px;
    outline: none;
}

.input_buttons {
    flex-direction: row;
    width: 80%;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px 0;
}

.success {
    background-color: #259b3f;
    color: #fff;
}

.info {
    background-color: #128293;
    color: #fff;
}

.warning {
    background-color: #ad8100;
    color: #fff;
}

.error {
    background-color: #bf2231;
    color: #fff;
}

/* Traktor */
#farm {
    position: fixed;
    bottom: 0;
    right: 0;
    height: 10px;
    width: 100%;
    font-size: 30px;
    background-color: #259b3f;
}

#tractor {
    position: fixed;
    bottom: 0;
    right: 100%;
    font-size: 30px;
    animation: moveTractor 10s linear infinite;
}

.chicken {
    position: fixed;
    bottom: 0;
    right: 100%;
    font-size: 30px;
}

#chicken1 {
    animation: moveChicken_1 10s linear infinite;
    animation-delay: 0s;
}

#chicken2 {
    animation: moveChicken_2 10s linear infinite;
    animation-delay: 0s;
}

#chicken3 {
    animation: moveChicken_3 10s linear infinite;
    animation-delay: 0s;
}

@keyframes moveTractor {
    0% {
        right: 0%;
    }
    100% {
        right: 100%;
    }
}

@keyframes moveChicken_1 {
    0% {
        right: 20%;
    }
    50% {
        right: 25%;
    }
    70% {
        right: 25%;
    }
    100% {
        right: 20%;
    }
}

@keyframes moveChicken_2 {
    0% {
        right: 22%;
    }
    50% {
        right: 26%;
    }
    70% {
        right: 27%;
    }
    100% {
        right: 22%;
    }
}

@keyframes moveChicken_3 {
    0% {
        right: 21%;
    }
    50% {
        right: 25%;
    }
    70% {
        right: 24%;
    }
    100% {
        right: 21%;
    }
}

#clouds {
    position: fixed;
    top: 10%;
    left: 5%;
}

#time {
    margin: 5px;
}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.loading-spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

.loading-text {
    position: absolute;
    text-align: center;
    top: 52%;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 1000;
}

.modal {
    width: 80vw; /* 80% der Viewport-Breite */
    height: 80vh; /* 80% der Viewport-Höhe */
    background: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    z-index: 1001;
    border-radius: 10px;
    overflow: auto; /* Fügt Scrollbars hinzu, wenn der Inhalt zu groß ist */
}

.schedule-header {
    text-align: center;
    margin-bottom: 20px;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 15px;
    cursor: pointer;
}

/* Styling für die Tage und Checkboxen */
.day-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.day-label {
    flex: 1;
    text-align: left;
    font-size: 1.2em; /* Schriftgröße erhöhen */
}

.day-checkbox {
    flex: 0;
    margin-left: 10px;
    transform: scale(1.5); /* Größe der Checkbox erhöhen */
}

.modal-content h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 1.5em; /* Schriftgröße des Headers erhöhen */
}

.modal-content button[type="submit"] {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1.2em; /* Schriftgröße des Buttons erhöhen */
}

.modal-content button[type="submit"]:hover {
    background-color: #45a049;
}